body {
	margin: 0;
	background: url(../img/pattern.jpg);
}


header {
	position: fixed;
  	top: 0;
  	width: 100%;
  	background-color: #ffffff;
}

header nav ul {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
}

header #logo {
	float: left;
	margin: 0;
}

header nav ul li {
	float: right;
	padding: 20px 16px;
}

header nav ul {
	display: block;
  	color: white;
  	text-align: center;
}

header nav ul a {
	text-decoration: none;
	color: blue;
}

section {
	padding: 20px;
	margin: 90px 100px 0px 100px;
	background: #ffffff;
}

section h1 {
	text-align: center;
}

section article {
  	border-bottom: 1px solid black;
}

footer {
	text-align: center;
	background: #000000;
	color: #ffffff;
	padding: 5px 5px;
	margin-top: 20px;
}